/* styles/style.css */

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* font-family: 'Kumbh Sans', sans-serif; */

/* 
  - Mobile: 375px
  - Desktop: 1440px
*/

:root {
  --color-dark-cyan: hsl(185, 75%, 39%);
  --color-very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --color-dark-grayish-blue: hsl(227, 10%, 46%);

  --color-dark-gray: hsl(0, 0%, 59%);

  --color-white: hsl(0, 0%, 100%);

  /* - Font size (name and stats): 18px */
  --base-font-size: calc((18 / 16) * 1rem);

  --image-width: 978;

  background-color: var(--color-dark-cyan);
  font-family: 'Kumbh Sans', sans-serif;
  font-size: var(--base-font-size);
  font-weight: 400;
  line-height: 1.5;

}

:is(*, *::before, *::after) {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:is(html, body) {
  height: 100%;
}

:is(img, svg) {
  display: block;
  max-width: 100%;
}

:is(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

/* Center the content in main. */

main {
  display: grid;
  min-height: 100%;
  place-items: center;
  padding: 1em;
  background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  /* 
    bg-pattern-top - 
      x position: Lock it at half the screen width. Then push it about 3rem to the right.
      y position: Lock it at half the screen width.
   */
  background-position: calc((100% - 50vw) + 3rem) calc(100% - 50vh), 50vw 40vh;

}

.card {
  background-color: var(--color-white);
  border-radius: 0.75rem;
  overflow: hidden;
}

.card h2 {
  font-size: 1.563rem;
  color: var(--color-very-dark-desaturated-blue);
}

.card__body {
  position: relative;
  display: grid;
  text-align: center;
  padding-bottom: 1em;
}

.card__avatar {
  --avatar-height: 96 / 2;

  border: 5px solid var(--color-white);
  position: absolute;
  justify-self: center;
  border-radius: 50%;
  top: calc(var(--avatar-height) * -1px);
}

.card__body h2 {
  margin-top: 4rem;
}

.card__body :is(span, p) {
  color: var(--color-dark-grayish-blue);
}

.card__stats {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid var(--color-dark-grayish-blue);
  padding: 1em;
  text-align: center;
}

.card__stats p {
  color: var(--color-dark-grayish-blue);
}

/* Footer styles. */

footer {
  text-align: center;
}

footer a {
  color: hsl(228, 45%, 44%);
}